section.concept {
  padding-top: 0.3em;
}

section.concept h2.title {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  font-family: "major-mono-display";
  font-variant: small-caps;
  font-variant-caps: titling-caps;
  text-transform: lowercase;
  font-size: 1.73em;
  font-weight: normal;
  letter-spacing: 0.11em;
}

section.concept a.docLink {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  background-color: var(--color-primary-foreground);
  color: var(--color-primary-background);
  text-decoration: none;
}

section.concept a.docLink:hover {
  background-color: var(--color-secondary-1-background);
  color: var(--color-secondary-1-foreground);
}

/* Description --------------------------------------------------------- */

section.concept .description {
  padding-top: 0.7em;
  padding-bottom: 0.3em;
}

section.concept .description a,
section.concept .description a:visited {
  color: var(--color-secondary-1-detail-2);
  text-decoration: none;
  padding-left: 0.7pt;
  padding-right: 0.7pt;
}

section.concept .description a:hover {
  background-color: var(--color-secondary-1-background);
  color: var(--color-secondary-2-detail-1);
}

section.concept .description code {
  padding-left: 0.3em;
  padding-right: 0.3em;
  /* padding-top: 0.1em;
  padding-bottom: 0.1em; */
  border-radius: 0.7em;
  vertical-align: middle;
  font-family: 'karma';
  font-size: 0.9em;
  letter-spacing: 0.1em;
  background-color: var(--color-secondary-1-background);
  color: var(--color-secondary-2-detail-2);
}