.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  order: 1;

  min-width: var(--layouts-sidebar-width);
  max-width: var(--layouts-sidebar-width);

  overflow: auto;
  padding-top: 17px;
  
  background-color: var(--color-primary-detail-1);
  color: var(--color-secondary-1-foreground);
}

.sidebar ul {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0em;
}

.sidebar li a {
  display: block;
  padding-inline-start: 1em;
  padding-top: 0.7rem;
  padding-bottom: 0.3rem;

  font-family: 'karma';
  font-size: 1.1rem;
  font-weight: bold;

  color: var(--color-secondary-2-detail-1);
  text-decoration: none;
}

.sidebar li a.is-active {
  background-color: var(--color-secondary-2-detail-1);
  color: var(--color-primary-background);
}

.sidebar li a:hover {
  background-color: var(--color-primary-detail-3);
  color: var(--color-primary-detail-1);
}